<div class="container">
    <div class="login-form">
        <form class="form-signin" name="form" role="form">
            <img src="../imgs/edelcert.png" id="imgEdelcert">
            <label for="inputUsername" class="sr-only">Nom d'utilisateur</label>
            <input type="text" id="inputUsername" class="form-control" placeholder="Nom d'utilisateur" ng-model="user.username" required autofocus>
            <label for="inputPassword" class="sr-only">Mot de passe</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe" ng-model="user.password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()" ng-disabled="form.$invalid">Se connecter</button>
        </form>

        <div class="alert alert-danger message-div" role="alert" ng-show="error">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Nom d'utilisateur ou mot de passe incorrect
        </div>
    </div>
</div>