<div class="divfull">
<h1 class="page-header">Liste des employés</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Prénom</th>
            <th class="hidden-sm hidden-xs">Numéro de téléphone</th>
            <th class="hidden-sm hidden-xs">Email</th>
            <th class="hidden-sm hidden-xs">Poste actuel</th>
            <th ng-hide="connectedUser.employeeType=='Administrateur lecture seul'"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees">
            <td style="width: 10px;">
                <a href="#/employee/{{employee.pk_employee}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
            </td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.firstName}}</td>
            <td class="hidden-sm hidden-xs">{{employee.phone}}</td>
            <td class="hidden-sm hidden-xs">{{employee.email}}</td>
            <td class="hidden-sm hidden-xs">{{employee.currentTitle}}</td>
            <td style="width: 10px;" ng-hide="connectedUser.employeeType=='Administrateur lecture seul'">
                <a ng-click="delEmployee(employee.pk_employee)"><span class="glyphicon glyphicon-remove a-remove" aria-hidden="true"></span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>