<h1 class="page-header">Détails employé</h1>

<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
        <img src="{{attachement}}/picture/{{employeeId}}/{{employee.picture}}"
             width="150"
             height="150" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>{{employee.firstName}} {{employee.lastName}}</h4>
        <span class="text-muted">{{employee.currentTitle}}</span>
    </div>
</div>
<uib-tabset active="active">
    <uib-tab index="0" heading="{{tabs[0].name}}" disable="tabs[0].disabled">
        <div class="input-group input-employee">
            <span class="input-group-addon" id="input-group-addon-employee">Nom</span>
            <input type="text" class="form-control" placeholder="Nom" ng-model="employee.lastName" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Nom" ng-model="employee.lastName" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Prénom</span>
            <input type="text" class="form-control" placeholder="Prénom" ng-model="employee.firstName" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Prénom" ng-model="employee.firstName"
                   ng-if="modified">
        </div>
        <div class="input-group input-employee" ng-if="!modified">
            <span class="input-group-addon">Date de naissance</span>
            <input type="date" class="form-control" placeholder="Date de naissance (dd.MM.yyyy)"
                   ng-model="employee.birthDate" disabled>
        </div>
        <date-picker-input dt="employee.birthDate" title="'Date de naissance'" ng-if="modified"></date-picker-input>
        <div class="input-group input-employee">
            <span class="input-group-addon">Adresse</span>
            <input type="text" class="form-control" placeholder="Adresse" ng-model="employee.address" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Adresse" ng-model="employee.address" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">NPA</span>
            <input type="text" class="form-control" placeholder="NPA" ng-model="employee.postCode" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="NPA" ng-model="employee.postCode" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Localité</span>
            <input type="text" class="form-control" placeholder="Localité" ng-model="employee.location" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Localité" ng-model="employee.location"
                   ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">AVS</span>
            <input type="text" class="form-control" placeholder="AVS" ng-model="employee.avs" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="AVS" ng-model="employee.avs" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">N° téléphone</span>
            <input type="text" class="form-control" placeholder="N° téléphone" ng-model="employee.phone" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="N° téléphone" ng-model="employee.phone"
                   ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Email</span>
            <input type="text" class="form-control" placeholder="Email" ng-model="employee.email" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Email" ng-model="employee.email" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Titre du poste actuel</span>
            <input type="text" class="form-control" placeholder="Titre du poste actuel"
                   ng-model="employee.currentTitle" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Titre du poste actuel"
                   ng-model="employee.currentTitle" ng-if="modified">
        </div>
        <div class="input-group input-employee" disabled ng-if="!modified">
            <span class="input-group-addon">Date d’entrée en fonction</span>
            <input type="date" class="form-control" placeholder="Date d’entrée en fonction"
                   ng-model="employee.comingToOfficeDate" disabled>
        </div>
        <date-picker-input dt="employee.comingToOfficeDate" title="'Date d’entrée en fonction'"
                           ng-if="modified"></date-picker-input>
        <div class="input-group input-employee">
            <span class="input-group-addon">Salaire horaire actuel</span>
            <input type="text" class="form-control" placeholder="Salaire horaire actuel"
                   ng-model="employee.currentHourlyWage" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Salaire horaire actuel"
                   ng-model="employee.currentHourlyWage" uib-popover="Format : 'xx.xx'" popover-trigger="'focus'"
                   popover-placement="bottom-left" ng-if="modified">
        </div>
    </uib-tab>
    <uib-tab index="1" heading="{{tabs[1].name}}" disable="tabs[1].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Organisation-institution</th>
                <th>Type de formation</th>
                <th>Pièce jointe</th>
                <th>EA Scope</th>
                <th>Date de</th>
                <th>Date à</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="formation in formations" ng-if="!modified">
                <td>{{formation.formativeOrganization}}</td>
                <td><select class="form-control"
                            ng-options="formationType.pk_formationType as formationType.formation for formationType in formationTypes"
                            ng-model="formation.fk_formationType" disabled></select>
                </td>
                <td>
                    <a href="{{attachement}}/formation/{{employeeId}}/{{formation.attachement}}"
                       target="_blank"><span
                            class="glyphicon glyphicon-file" aria-hidden="true"
                            ng-if="formation.attachement"></span> {{formation.attachement}}</a></td>
                <td>{{formation.EAScope}}</td>
                <td>{{formation.fromDate | date : "dd.MM.yyyy"}}</td>
                <td>{{formation.toDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="formation in formations" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(formations, $index)"><span class="glyphicon glyphicon-minus"
                                                                                    aria-hidden="true"></span></a>
                </td>
                <td><input type="text"
                           class="form-control"
                           ng-model="formation.formativeOrganization">
                </td>
                <td><select class="form-control"
                            ng-options="formationType.pk_formationType as formationType.formation for formationType in formationTypes"
                            ng-model="formation.fk_formationType"></select>
                </td>
                <td>
                    <div class="input-group"><input type="file" class="form-control" placeholder="CV"
                                                    file-model="formationsAttachements[{{$index}}]"><span
                            class="input-group-btn" ng-if="formation.attachement"><button
                            class="btn btn-danger"
                            ng-click="delFormationAttachement(formation.pk_formation, $index)">x</button></span></div>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="formation.EAScope" uib-popover="Min : 1, max : 39" popover-trigger="'focus'"
                           popover-placement="bottom-left">
                </td>
                <td>
                    <date-picker-simple-input dt="formation.fromDate"></date-picker-simple-input>
                </td>
                <td>
                    <date-picker-simple-input dt="formation.toDate"></date-picker-simple-input>
                </td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addFormationRow()"><span class="glyphicon glyphicon-plus"
                                                          aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <div class="row placeholders" ng-hide="active!=1 || connectedUser.employeeType=='Administrateur lecture seule'">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateFormations()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="{{tabs[2].name}}" disable="tabs[2].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>Fonction</th>
                <th>Pièce jointe</th>
                <th>EA Scope</th>
                <th>De</th>
                <th>À</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="professionnalExperience in professionnalExperiences" ng-if="!modified">
                <td>{{professionnalExperience.organizationName}}</td>
                <td>{{professionnalExperience.organizationActivity}}</td>
                <td>{{professionnalExperience.fonction}}</td>
                <td>
                    <a href="{{attachement}}/professionnalexperience/{{employeeId}}/{{professionnalExperience.attachement}}"
                       target="_blank" ng-if="professionnalExperience.attachement"><span
                            class="glyphicon glyphicon-file" aria-hidden="true"
                            ng-if="professionnalExperience.attachement != null"></span>
                        {{professionnalExperience.attachement}}</a></td>
                <td>{{professionnalExperience.EAScope}}</td>
                <td>{{professionnalExperience.fromDate | date : "dd.MM.yyyy"}}</td>
                <td>{{professionnalExperience.toDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="professionnalExperience in professionnalExperiences" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(professionnalExperiences, $index)"><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="professionnalExperience.organizationName"></td>
                <td><input type="text" class="form-control" ng-model="professionnalExperience.organizationActivity">
                </td>
                <td><input type="text" class="form-control" ng-model="professionnalExperience.fonction"></td>
                <td>
                    <div class="input-group"><input type="file" class="form-control"
                                                    file-model="professionnalExperiencesAttachements[{{$index}}]"><span
                            class="input-group-btn" ng-if="professionnalExperience.attachement"><button
                            class="btn btn-danger"
                            ng-click="delProfessionnalExperienceAttachement(professionnalExperience.pk_professionnalExperience, $index)">x</button></span>
                    </div>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="professionnalExperience.EAScope" uib-popover="Min : 1, max : 39"
                           popover-trigger="'focus'" popover-placement="bottom-left">
                </td>
                <td>
                    <date-picker-simple-input dt="professionnalExperience.fromDate"></date-picker-simple-input>
                </td>
                <td>
                    <date-picker-simple-input dt="professionnalExperience.toDate"></date-picker-simple-input>
                </td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addProfExpRow()"><span class="glyphicon glyphicon-plus"
                                                        aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=2 || connectedUser.employeeType=='Administrateur lecture seule'">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateProfExp()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="3" heading="{{tabs[3].name}}" disable="tabs[3].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>NMS Standard</th>
                <th>EA Scope</th>
                <th>Thèmes et durée</th>
                <th>Année</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="consultingExperience in consultingExperiences" ng-if="!modified">
                <td>{{consultingExperience.organizationName}}</td>
                <td>{{consultingExperience.organizationActivity}}</td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="consultingExperience.fk_NMSStandard" disabled></select>
                </td>
                <td>{{consultingExperience.EAScope}}</td>
                <td>{{consultingExperience.organization}}</td>
                <td>{{consultingExperience.year}}</td>
            </tr>
            <tr ng-repeat="consultingExperience in consultingExperiences" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(consultingExperiences, $index)"><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="consultingExperience.organizationName"></td>
                <td><input type="text" class="form-control" ng-model="consultingExperience.organizationActivity"></td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="consultingExperience.fk_NMSStandard"></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="consultingExperience.EAScope" uib-popover="Min : 1, max : 39"
                           popover-trigger="'focus'" popover-placement="bottom-left">
                </td>
                <td><input type="text" class="form-control" ng-model="consultingExperience.organization"></td>
                <td><input type="text" class="form-control" ng-model="consultingExperience.year"></td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addConExpRow()"><span class="glyphicon glyphicon-plus"
                                                       aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=3 || connectedUser.employeeType=='Administrateur lecture seule'">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateConExp()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="4" heading="{{tabs[4].name}}" disable="tabs[4].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>NMS Standard</th>
                <th>EA Scope</th>
                <th>OC</th>
                <th>Année</th>
                <th>Honoraires (CHF)</th>
                <th>Fiches mandat</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="auditExperience in auditExperiences" ng-if="!modified">
                <td>{{auditExperience.organizationName}}</td>
                <td>{{auditExperience.organizationActivity}}</td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="auditExperience.fk_NMSStandard" disabled></select>
                </td>
                <td>{{auditExperience.EAScope}}</td>
                <td>{{auditExperience.oc}}</td>
                <td>{{auditExperience.year}}</td>
                <td>{{auditExperience.fees}}</td>
                <td><a href="{{attachement}}/mandatesheet/{{employeeId}}/{{auditExperience.mandatesheet}}"
                       target="_blank" ng-if="auditExperience.mandatesheet"><span class="glyphicon glyphicon-file"
                                                                                  aria-hidden="true"
                                                                                  ng-if="auditExperience.mandatesheet"></span>
                    {{auditExperience.mandatesheet}}</a></td>
            </tr>
            <tr ng-repeat="auditExperience in auditExperiences" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(auditExperiences, $index)"><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="auditExperience.organizationName"></td>
                <td><input type="text" class="form-control" ng-model="auditExperience.organizationActivity"></td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="auditExperience.fk_NMSStandard"></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="auditExperience.EAScope" uib-popover="Min : 1, max : 39" popover-trigger="'focus'"
                           popover-placement="bottom-left">
                </td>
                <td><input type="text" class="form-control" ng-model="auditExperience.oc"></td>
                <td><input type="text" class="form-control" ng-model="auditExperience.year"></td>
                <td><input type="text" class="form-control" ng-model="auditExperience.fees"
                           uib-popover="Format : 'xx.xx'" popover-trigger="'focus'" popover-placement="bottom-left">
                </td>
                <td>
                    <div class="input-group"><input type="file" class="form-control"
                                                    file-model="mandateSheetsAttachements[{{$index}}]"><span
                            class="input-group-btn" ng-if="auditExperience.mandatesheet"><button
                            class="btn btn-danger"
                            ng-click="delMandateSheetsAttachements(auditExperience.pk_auditExperience, $index)">x</button></span>
                    </div>
                </td>

            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addAuditExpRow()"><span class="glyphicon glyphicon-plus"
                                                         aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=4 || connectedUser.employeeType=='Administrateur lecture seule'">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateAuditExp()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="5" heading="{{tabs[5].name}}" disable="tabs[5].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Le candidat auditeur dispose-t-il des capacités et des connaissances spécifiques concernant :
                </th>
                <th>OUI</th>
                <th>Remarques</th>
                <th>Pièces jointes</th>
                <th>Date de la validation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="internalQualificationCapacity in internalQualificationsCapacity" ng-if="!modified">
                <td>{{internalQualificationCapacity.capacity}}</td>
                <td><input type="checkbox" ng-checked="internalQualificationCapacity.yesno" disabled></td>
                <td>{{internalQualificationCapacity.result}}</td>
                <td>
                    <a href="{{attachement}}/internalqualification/{{employeeId}}/{{internalQualificationCapacity.attachement}}"
                       target="_blank" ng-if="internalQualificationCapacity.attachement"><span
                            class="glyphicon glyphicon-file"
                            aria-hidden="true"
                            ng-if="internalQualificationCapacity.attachement"></span>
                        {{internalQualificationCapacity.attachement}}</a></td>
                <td>{{internalQualificationCapacity.validationDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="internalQualificationCapacity in internalQualificationsCapacity" ng-if="modified">
                <td>{{internalQualificationCapacity.capacity}}</td>
                <td><input type="checkbox" ng-model="internalQualificationCapacity.yesno"></td>
                <td><input type="text" class="form-control" ng-model="internalQualificationCapacity.result"></td>
                <td>
                    <div class="input-group"><input type="file" class="form-control"
                                                    file-model="internalQualificationsCapacityAttachements[{{$index}}]"><span
                            class="input-group-btn" ng-if="internalQualificationCapacity.attachement"><button
                            class="btn btn-danger"
                            ng-click="delInternalQualificationsCapacityAttachements(internalQualificationCapacity.pk_internalQualificationsCapacity, $index)">x</button></span>
                    </div>
                </td>
                <td>
                    <date-picker-simple-input
                            dt="internalQualificationCapacity.validationDate"></date-picker-simple-input>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Marche à suivre selon procédure de qualification en cours</th>
                <th>OUI</th>
                <th>Remarques</th>
                <th>Pièces jointes</th>
                <th>Date de la validation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="internalQualificationProcess in internalQualificationsProcess" ng-if="!modified">
                <td>{{internalQualificationProcess.process}}</td>
                <td><input type="checkbox" ng-checked="internalQualificationProcess.yesno"
                           ng-if="internalQualificationProcess.pk_internalQualificationsProcess!='2'" disabled></td>
                <td>{{internalQualificationProcess.result}}</td>
                <td>
                    <a href="{{attachement}}/internalqualification/{{employeeId}}/{{internalQualificationProcess.attachement}}"
                       target="_blank" ng-if="internalQualificationProcess.attachement"><span
                            class="glyphicon glyphicon-file"
                            aria-hidden="true"
                            ng-if="internalQualificationProcess.attachement"></span>
                        {{internalQualificationProcess.attachement}}</a></td>
                <td>{{internalQualificationProcess.validationDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="internalQualificationProcess in internalQualificationsProcess" ng-if="modified">
                <td>{{internalQualificationProcess.process}}</td>
                <td><input type="checkbox" ng-model="internalQualificationProcess.yesno"
                           ng-if="internalQualificationProcess.pk_internalQualificationsProcess!='2'"></td>
                <td><input type="text" class="form-control" ng-model="internalQualificationProcess.result"></td>
                <td>
                    <div class="input-group"><input type="file" class="form-control"
                                                    file-model="internalQualificationsProcessAttachements[{{$index}}]"><span
                            class="input-group-btn" ng-if="internalQualificationProcess.attachement"><button
                            class="btn btn-danger"
                            ng-click="delInternalQualificationsProcessAttachements(internalQualificationProcess.pk_internalQualificationsProcess, $index)">x</button></span>
                    </div>
                </td>
                <td>
                    <date-picker-simple-input
                            dt="internalQualificationProcess.validationDate"></date-picker-simple-input>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Qualifications reconnues pour les normes suivantes</th>
                <th>OUI</th>
                <th>Pièces jointes</th>
                <th>Scope(s) concerné(s)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="internalQualificationStandard in internalQualificationsStandard" ng-if="!modified">
                <td>{{internalQualificationStandard.standard}}</td>
                <td><input type="checkbox" ng-checked="internalQualificationStandard.yesno" disabled></td>
                <td>
                    <a href="{{attachement}}/internalqualification/{{employeeId}}/{{internalQualificationStandard.attachement}}"
                       target="_blank" ng-if="internalQualificationStandard.attachement"><span
                            class="glyphicon glyphicon-file"
                            aria-hidden="true"
                            ng-if="internalQualificationStandard.attachement"></span>
                        {{internalQualificationStandard.attachement}}</a></td>
                <td>{{internalQualificationStandard.concernedScope}}</td>
            </tr>
            <tr ng-repeat="internalQualificationStandard in internalQualificationsStandard" ng-if="modified">
                <td>{{internalQualificationStandard.standard}}</td>
                <td><input type="checkbox" ng-model="internalQualificationStandard.yesno"></td>
                <td>
                    <div class="input-group"><input type="file" class="form-control"
                                                    file-model="internalQualificationsStandardAttachements[{{$index}}]"><span
                            class="input-group-btn" ng-if="internalQualificationStandard.attachement"><button
                            class="btn btn-danger"
                            ng-click="delInternalQualificationsStandardAttachements(internalQualificationStandard.pk_internalQualificationsStandard, $index)">x</button></span>
                    </div>
                </td>
                <td>
                    <input type="text" class="form-control"
                           ng-model="internalQualificationStandard.concernedScope" uib-popover="Min : 1, max : 39"
                           popover-trigger="'focus'" popover-placement="bottom-left">
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders"
             ng-hide="active!=5 || connectedUser.employeeType=='Employé' || connectedUser.employeeType=='Administrateur lecture seule'">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
                <button class="btn btn-success" ng-click="updateEmployeeIntQual()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="6" heading="{{tabs[6].name}}" disable="tabs[6].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Organisation-institution</th>
                <th>Observateur-évaluateur</th>
                <th>Pièces jointes</th>
                <th>EA Scope(s)</th>
                <th>Commentaire</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="auditObservation in auditObservations" ng-if="!modified">
                <td>{{auditObservation.organization}}</td>
                <td>{{auditObservation.observer}}</td>
                <td>
                    <a href="{{attachement}}/auditobservation/{{employeeId}}/{{auditObservation.attachement}}"
                       target="_blank" ng-if="auditObservation.attachement"><span class="glyphicon glyphicon-file"
                                                                                  aria-hidden="true"
                                                                                  ng-if="auditObservation.attachement"></span>
                        {{auditObservation.attachement}}</a></td>
                <td>{{auditObservation.EAScope}}</td>
                <td><textarea class="form-control" disabled>{{auditObservation.comment}}</textarea></td>
                <td>{{auditObservation.date | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="auditObservation in auditObservations" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(auditObservations, $index)"><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="auditObservation.organization"></td>
                <td><input type="text" class="form-control" ng-model="auditObservation.observer"></td>
                <td>
                    <div class="input-group"><input type="file" class="form-control"
                                                    file-model="auditObservationsAttachements[{{$index}}]"><span
                            class="input-group-btn" ng-if="auditObservation.attachement"><button
                            class="btn btn-danger"
                            ng-click="delAuditObservationsAttachements(auditObservation.pk_auditObservation, $index)">x</button></span>
                    </div>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="auditObservation.EAScope" uib-popover="Min : 1, max : 39" popover-trigger="'focus'"
                           popover-placement="bottom-left">
                </td>
                <td><textarea class="form-control" ng-model="auditObservation.comment"></textarea></td>
                <td>
                    <date-picker-simple-input dt="auditObservation.date"></date-picker-simple-input>
                </td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addAuditObsRow()"><span class="glyphicon glyphicon-plus"
                                                         aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=6 || connectedUser.employeeType=='Administrateur lecture seule'">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
                <button class="btn btn-success" ng-click="updateEmployeeAuditObservations()" ng-if="modified">
                    Sauvegarder
                </button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>

    </uib-tab>
    <uib-tab index="7" heading="{{tabs[7].name}}" disable="tabs[7].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Objectifs à moyen et long terme</th>
                <th>Stratégie mise en place par l’auditeur</th>
                <th>Date</th>
                <th>Validation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="objective in objectives" ng-if="!modified">
                <td>{{objective.mediumLongTermObjectives}}</td>
                <td>{{objective.auditorStrategy}}</td>
                <td>{{objective.date | date : "dd.MM.yyyy"}}</td>
                <td><input type="checkbox" ng-checked="objective.validate" disabled></td>
            </tr>
            <tr ng-repeat="objective in objectives" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(objectives, $index)"><span class="glyphicon glyphicon-minus"
                                                                                    aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="objective.mediumLongTermObjectives"></td>
                <td><input type="text" class="form-control" ng-model="objective.auditorStrategy"></td>
                <td>
                    <date-picker-simple-input dt="objective.date"></date-picker-simple-input>
                </td>
                <td><input type="checkbox" ng-model="objective.validate"></td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addObjectiveRow()"><span class="glyphicon glyphicon-plus"
                                                          aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=7 || connectedUser.employeeType=='Administrateur lecture seule'">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
                <button class="btn btn-success" ng-click="updateEmployeeObjectives()" ng-if="modified">Sauvegarder
                </button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
</uib-tabset>

<div class="file-upload" ng-hide="active!=0">
    <div class="input-group input-employee">
        <span class="input-group-addon">CV</span>
        <a href="{{attachement}}/cv/{{employeeId}}/{{employee.cv}}"
           target="_blank" ng-if="!modified"> <span
                class="glyphicon glyphicon-file"
                aria-hidden="true" ng-if="employee.cv"></span>
            {{employee.cv}}</a>
        <input type="file" class="form-control" placeholder="CV" file-model="$parent.cv" ng-if="modified">
        <span class="input-group-btn"><button class="btn btn-danger" ng-click="delCV()" ng-if="modified && employee.cv">Supprimer fichier actuel</button></span>
    </div>
    <div class="input-group input-employee">
        <span class="input-group-addon">Casier judiciaire</span>
        <a href="{{attachement}}/criminalrecord/{{employeeId}}/{{employee.criminalRecord}}"
           target="_blank"
           ng-if="!modified"> <span
                class="glyphicon glyphicon-file"
                aria-hidden="true" ng-if="employee.criminalRecord"></span>
            {{employee.criminalRecord}}</a>
        <input type="file" class="form-control" placeholder="Casier judiciaire"
               file-model="$parent.criminalRecord" ng-if="modified">
        <span class="input-group-btn"><button class="btn btn-danger" ng-click="delCriminalRecord()"
                                              ng-if="modified && employee.criminalRecord">Supprimer fichier actuel</button></span>
    </div>
    <div class="input-group input-employee">
        <span class="input-group-addon">Contrat</span>
        <a href="{{attachement}}/contract/{{employeeId}}/{{employee.contract}}"
           target="_blank"
           ng-if="!modified"> <span
                class="glyphicon glyphicon-file"
                aria-hidden="true" ng-if="employee.contract"></span>
            {{employee.contract}}</a>
        <input type="file" class="form-control" placeholder="Contrat"
               file-model="$parent.contract" ng-if="modified">
        <span class="input-group-btn"><button class="btn btn-danger" ng-click="delContract()"
                                              ng-if="modified && employee.contract">Supprimer fichier actuel</button></span>
    </div>
    <div class="input-group input-employee">
        <span class="input-group-addon">Attestation d'indépendant</span>
        <a href="{{attachement}}/certificateIndependence/{{employeeId}}/{{employee.certificateIndependence}}"
           target="_blank"
           ng-if="!modified"> <span
                class="glyphicon glyphicon-file"
                aria-hidden="true" ng-if="employee.certificateIndependence"></span>
            {{employee.certificateIndependence}}</a>
        <input type="file" class="form-control" placeholder="Attestation d'indépendant"
               file-model="$parent.certificateIndependence" ng-if="modified">
        <span class="input-group-btn"><button class="btn btn-danger" ng-click="delCertificateIndependence()"
                                              ng-if="modified && employee.certificateIndependence">Supprimer fichier actuel</button></span>
    </div>
    <div class="input-group input-employee" ng-if="modified">
        <span class="input-group-addon">Photo</span>
        <input type="file" class="form-control" placeholder="Photo"
               file-model="$parent.picture" accept="image/*">
        <span class="input-group-btn"><button class="btn btn-danger" ng-click="delPicture()"
                                              ng-if="modified && employee.picture">Supprimer fichier actuel</button></span>
    </div>
</div>
<br>
<div class="row placeholders" ng-hide="active!=0 || connectedUser.employeeType=='Administrateur lecture seule'">
    <div class="col-xs-12 col-sm-12 placeholder">
        <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
        <button class="btn btn-success" ng-click="updateEmployeeAdmin()" ng-if="modified">Sauvegarder</button>
        <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
    </div>
</div>
<div ng-repeat="a in getNumber(iqStepsNum) track by $index">{{$index}}</div>
