<h1 class="page-header">Détails employé</h1>

<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
        <img src="../images/{{employee.picture}}" width="150"
             height="150" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>{{employee.firstName}} {{employee.lastName}}</h4>
        <span class="text-muted">{{employee.currentTitle}}</span>
    </div>
</div>
<uib-tabset active="active">
    <uib-tab index="0" heading="Administratif">
        <div class="input-group input-employee">
            <span class="input-group-addon">Nom</span>
            <input type="text" class="form-control" placeholder="Nom" value="{{employee.lastName}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Nom" value="{{employee.lastName}}" ng-if="modified">

        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Prénom</span>
            <input type="text" class="form-control" placeholder="Prénom" value="{{employee.firstName}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Prénom" value="{{employee.firstName}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Date de naissance</span>
            <input type="text" class="form-control" placeholder="Date de naissance (dd.MM.yyyy)"
                   value="{{employee.birthDate | date : 'dd.MM.yyyy'}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Date de naissance (dd.MM.yyyy)"
                   value="{{employee.birthDate | date : 'dd.MM.yyyy'}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Adresse</span>
            <input type="text" class="form-control" placeholder="Adresse" value="{{employee.address}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Adresse" value="{{employee.address}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">NPA</span>
            <input type="text" class="form-control" placeholder="NPA" value="{{employee.postCode}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="NPA" value="{{employee.postCode}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Localité</span>
            <input type="text" class="form-control" placeholder="Localité" value="{{employee.location}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Localité" value="{{employee.location}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">AVS</span>
            <input type="text" class="form-control" placeholder="AVS" value="{{employee.avs}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="AVS" value="{{employee.avs}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">N° téléphone</span>
            <input type="text" class="form-control" placeholder="N° téléphone" value="{{employee.phone}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="N° téléphone" value="{{employee.phone}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Email</span>
            <input type="text" class="form-control" placeholder="Email" value="{{employee.email}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Email" value="{{employee.email}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Titre du poste actuel</span>
            <input type="text" class="form-control" placeholder="Titre du poste actuel"
                   value="{{employee.currentTitle}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Titre du poste actuel"
                   value="{{employee.currentTitle}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Date d’entrée en fonction</span>
            <input type="text" class="form-control" placeholder="Date d’entrée en fonction"
                   value="{{employee.comingToOfficeDate | date : 'dd.MM.yyyy'}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Date d’entrée en fonction"
                   value="{{employee.comingToOfficeDate | date : 'dd.MM.yyyy'}}" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Salaire horaire actuel</span>
            <input type="text" class="form-control" placeholder="Salaire horaire actuel"
                   value="{{employee.currentHourlyWage}}" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Salaire horaire actuel"
                   value="{{employee.currentHourlyWage}}" ng-if="modified">
        </div>
        <br>
    </uib-tab>
    <uib-tab index="1" heading="Formations">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Organisation-institution</th>
                <th>Type de formation</th>
                <th>Pièce jointe</th>
                <th>EA Scope</th>
                <th>Date de</th>
                <th>Date à</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="formation in formations" ng-if="!modified">
                <td>{{formation.formativeOrganization}}</td>
                <td><select class="form-control"
                            ng-options="formationType.pk_formationType as formationType.formation for formationType in formationTypes"
                            ng-model="formation.fk_formationType" disabled></select>
                </td>
                <td></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="formation.EAScope" disabled>
                </td>
                <td>{{formation.fromDate | date : "dd.MM.yyyy"}}</td>
                <td>{{formation.toDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="formation in formations"  ng-if="modified">
                <td><input type="text" class="form-control" value="{{formation.formativeOrganization}}"></td>
                <td><select class="form-control"
                            ng-options="formationType.pk_formationType as formationType.formation for formationType in formationTypes"
                            ng-model="formation.fk_formationType"></select>
                </td>
                <td></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="formation.EAScope">
                </td>
                <td><input type="text" class="form-control" value="{{formation.fromDate | date : 'dd.MM.yyyy'}}"></td>
                <td><input type="text" class="form-control" value="{{formation.toDate | date : 'dd.MM.yyyy'}}"></td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab index="2" heading="Expériences professionnelles">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>Fonction</th>
                <th>Pièce jointe</th>
                <th>EA Scope</th>
                <th>De</th>
                <th>À</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="professionnalExperience in professionnalExperiences" ng-if="!modified">
                <td>{{professionnalExperience.organizationName}}</td>
                <td>{{professionnalExperience.organizationActivity}}</td>
                <td>{{professionnalExperience.fonction}}</td>
                <td></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="professionnalExperience.EAScope" disabled>
                </td>
                <td>{{professionnalExperience.fromDate | date : "dd.MM.yyyy"}}</td>
                <td>{{professionnalExperience.toDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="professionnalExperience in professionnalExperiences"  ng-if="modified">
                <td><input type="text" class="form-control" value="{{professionnalExperience.organizationName}}"></td>
                <td><input type="text" class="form-control" value="{{professionnalExperience.organizationActivity}}"></td>
                <td><input type="text" class="form-control" value="{{professionnalExperience.fonction}}"></td>
                <td></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="professionnalExperience.EAScope">
                </td>
                <td><input type="text" class="form-control" value="{{professionnalExperience.fromDate | date : 'dd.MM.yyyy'}}"></td>
                <td><input type="text" class="form-control" value="{{professionnalExperience.toDate | date : 'dd.MM.yyyy'}}"></td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab index="3" heading="Expériences en conseil">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>NMS Standard</th>
                <th>EA Scope</th>
                <th>Orgarnisation</th>
                <th>Année</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="consultingExperience in consultingExperiences" ng-if="!modified">
                <td>{{consultingExperience.organizationName}}</td>
                <td>{{consultingExperience.organizationActivity}}</td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="consultingExperience.fk_NMSStandard" disabled></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="consultingExperience.EAScope" disabled>
                </td>
                <td>{{consultingExperience.organization}}</td>
                <td>{{consultingExperience.year}}</td>
            </tr>
            <tr ng-repeat="consultingExperience in consultingExperiences" ng-if="modified">
                <td><input type="text" class="form-control" value="{{consultingExperience.organizationName}}"></td>
                <td><input type="text" class="form-control" value="{{consultingExperience.organizationActivity}}"></td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="consultingExperience.fk_NMSStandard" disabled></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="consultingExperience.EAScope">
                </td>
                <td><input type="text" class="form-control" value="{{consultingExperience.organization}}"></td>
                <td><input type="text" class="form-control" value="{{consultingExperience.year}}"></td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab index="4" heading="Expérience en audit">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>NMS Standard</th>
                <th>EA Scope</th>
                <th>Orgarnisation</th>
                <th>Année</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="auditExperience in auditExperiences" ng-if="!modified">
                <td>{{auditExperience.organizationName}}</td>
                <td>{{auditExperience.organizationActivity}}</td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="auditExperience.fk_NMSStandard" disabled></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="auditExperience.EAScope" disabled>
                </td>
                <td>{{auditExperience.oc}}</td>
                <td>{{auditExperience.year}}</td>
            </tr>
            <tr ng-repeat="auditExperience in auditExperiences" ng-if="modified">
                <td><input type="text" class="form-control" value="{{auditExperience.organizationName}}"></td>
                <td><input type="text" class="form-control" value="{{auditExperience.organizationActivity}}"></td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="auditExperience.fk_NMSStandard"></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="auditExperience.EAScope">
                </td>
                <td><input type="text" class="form-control" value="{{auditExperience.oc}}"></td>
                <td><input type="text" class="form-control" value="{{auditExperience.year}}"></td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab index="5" heading="Qualifications internes">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Marche à suivre selon procédure de qualification en cours</th>
                <th>Oui – Non</th>
                <th>Résultats ou renvoi à des enregistrements existants</th>
                <th>Pièces jointes</th>
                <th>Date de la validation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="internalQualification in internalQualifications">
                <td>{{internalQualification.process}}</td>
                <td><input type="checkbox" ng-checked="internalQualification.yesno" disabled  ng-if="!modified"></td>
                <td><input type="checkbox" ng-checked="internalQualification.yesno" ng-if="modified"></td>
                <td ng-if="!modified">{{internalQualification.result}}</td>
                <td ng-if="modified"><input type="text" class="form-control" value="{{internalQualification.result}}"></td>
                <td ng-if="!modified">{{internalQualification.validationDate | date : "dd.MM.yyyy"}}</td>
                <td ng-if="modified"><input type="text" class="form-control" value="{{internalQualification.validationDate | date : 'dd.MM.yyyy'}}"></td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab index="6" heading="Observation en audit">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Organisation-institution</th>
                <th>Observateur-évaluateur</th>
                <th>Pièces jointes</th>
                <th>EA Scope(s)</th>
                <th>Commentaire</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="auditObservation in auditObservations" ng-if="!modified">
                <td>{{auditObservation.organization}}</td>
                <td>{{auditObservation.observer}}</td>
                <td></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="auditObservation.EAScope" disabled>
                </td>
                <td><textarea class="form-control" disabled>{{auditObservation.comment}}</textarea></td>
                <td>{{auditObservation.date | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="auditObservation in auditObservations" ng-if="modified">
                <td><input type="text" class="form-control" value="{{auditObservation.organization}}"></td>
                <td><input type="text" class="form-control" value="{{auditObservation.observer}}"></td>
                <td></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="auditObservation.EAScope">
                </td>
                <td><textarea class="form-control">{{auditObservation.comment}}</textarea></td>
                <td><input type="text" class="form-control" value="{{auditObservation.date | date : 'dd.MM.yyyy'}}"></td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab index="7" heading="Objectifs">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Objectifs à moyen et long terme</th>
                <th>Stratégie mise en place par l’auditeur</th>
                <th>Date</th>
                <th>Validation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="objective in objectives" ng-if="!modified">
                <td>{{objective.mediumLongTermObjectives}}</td>
                <td>{{objective.auditorStrategy}}</td>
                <td>{{objective.date | date : "dd.MM.yyyy"}}</td>
                <td><input type="checkbox" ng-checked="objective.validate" disabled></td>
            </tr>
            <tr ng-repeat="objective in objectives" ng-if="modified">
                <td><input type="text" class="form-control" value="{{objective.mediumLongTermObjectives}}"></td>
                <td><input type="text" class="form-control" value="{{objective.auditorStrategy}}"></td>
                <td><input type="text" class="form-control" value="{{objective.date | date : 'dd.MM.yyyy'}}"></td>
                <td><input type="checkbox" ng-checked="objective.validate"></td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
    <uib-tab index="8" heading="Fiches mandat">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Organisation-institution</th>
                <th>EA Scope</th>
                <th>Date</th>
                <th>Honoraires</th>
                <th>Pièces jointes</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="mandateSheet in mandateSheets" ng-if="!modified">
                <td>{{mandateSheet.organization}}</td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="mandateSheet.EAScope" disabled>
                </td>
                <td>{{mandateSheet.date | date : "dd.MM.yyyy"}}</td>
                <td>{{mandateSheet.fees}}</td>
                <td></td>
            </tr>
            <tr ng-repeat="mandateSheet in mandateSheets" ng-if="modified">
                <td><input type="text" class="form-control" value="{{mandateSheet.organization}}"></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control" placeholder="EA Scope"
                           ng-value="mandateSheet.EAScope">
                </td>
                <td><input type="text" class="form-control" value="{{mandateSheet.date | date : 'dd.MM.yyyy'}}"></td>
                <td><input type="text" class="form-control" value="{{mandateSheet.fees}}"></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </uib-tab>
</uib-tabset>

<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
        <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
        <button class="btn btn-success" ng-click="" ng-if="modified">Sauvegarder</button>
        <button class="btn btn-danger" ng-click="modif()" ng-if="modified">Annuler</button>
    </div>

</div>