<h1 class="page-header">Détails employé</h1>

<div class="row placeholders">
    <div class="col-xs-12 col-sm-12 placeholder">
        <img src="{{attachement}}/picture/{{employeeId}}/{{employee.picture}}"
             width="150"
             height="150" class="img-responsive" alt="Generic placeholder thumbnail">
        <h4>{{employee.firstName}} {{employee.lastName}}</h4>
        <span class="text-muted">{{employee.currentTitle}}</span>
    </div>
</div>
<uib-tabset active="active">
    <uib-tab index="0" heading="{{tabs[0].name}}" disable="tabs[0].disabled">
        <div class="input-group input-employee">
            <span class="input-group-addon" id="input-group-addon-employee">Nom</span>
            <input type="text" class="form-control" placeholder="Nom" ng-model="employee.lastName" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Nom" ng-model="employee.lastName" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Prénom</span>
            <input type="text" class="form-control" placeholder="Prénom" ng-model="employee.firstName" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Prénom" ng-model="employee.firstName"
                   ng-if="modified">
        </div>
        <div class="input-group input-employee" ng-if="!modified">
            <span class="input-group-addon">Date de naissance</span>
            <input type="date" class="form-control" placeholder="Date de naissance (dd.MM.yyyy)"
                   ng-model="employee.birthDate" disabled>
        </div>
        <date-picker-input dt="employee.birthDate" title="'Date de naissance'" ng-if="modified"></date-picker-input>
        <div class="input-group input-employee">
            <span class="input-group-addon">Adresse</span>
            <input type="text" class="form-control" placeholder="Adresse" ng-model="employee.address" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Adresse" ng-model="employee.address" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">NPA</span>
            <input type="text" class="form-control" placeholder="NPA" ng-model="employee.postCode" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="NPA" ng-model="employee.postCode" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Localité</span>
            <input type="text" class="form-control" placeholder="Localité" ng-model="employee.location" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Localité" ng-model="employee.location"
                   ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">AVS</span>
            <input type="text" class="form-control" placeholder="AVS" ng-model="employee.avs" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="AVS" ng-model="employee.avs" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">N° téléphone</span>
            <input type="text" class="form-control" placeholder="N° téléphone" ng-model="employee.phone" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="N° téléphone" ng-model="employee.phone"
                   ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Email</span>
            <input type="text" class="form-control" placeholder="Email" ng-model="employee.email" disabled
                   ng-if="!modified">
            <input type="text" class="form-control" placeholder="Email" ng-model="employee.email" ng-if="modified">
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Titre du poste actuel</span>
            <input type="text" class="form-control" placeholder="Titre du poste actuel"
                   ng-model="employee.currentTitle" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Titre du poste actuel"
                   ng-model="employee.currentTitle" ng-if="modified">
        </div>
        <div class="input-group input-employee" disabled ng-if="!modified">
            <span class="input-group-addon">Date d’entrée en fonction</span>
            <input type="date" class="form-control" placeholder="Date d’entrée en fonction"
                   ng-model="employee.comingToOfficeDate" disabled>
        </div>
        <date-picker-input dt="employee.comingToOfficeDate" title="'Date d’entrée en fonction'"
                           ng-if="modified"></date-picker-input>
        <div class="input-group input-employee">
            <span class="input-group-addon">Salaire horaire actuel</span>
            <input type="text" class="form-control" placeholder="Salaire horaire actuel"
                   ng-model="employee.currentHourlyWage" disabled ng-if="!modified">
            <input type="text" class="form-control" placeholder="Salaire horaire actuel"
                   ng-model="employee.currentHourlyWage" ng-if="modified">
        </div>
    </uib-tab>
    <uib-tab index="1" heading="{{tabs[1].name}}" disable="tabs[1].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Organisation-institution</th>
                <th>Type de formation</th>
                <th>Pièce jointe</th>
                <th>EA Scope</th>
                <th>Date de</th>
                <th>Date à</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="formation in formations" ng-if="!modified">
                <td>{{formation.formativeOrganization}}</td>
                <td><select class="form-control"
                            ng-options="formationType.pk_formationType as formationType.formation for formationType in formationTypes"
                            ng-model="formation.fk_formationType" disabled></select>
                </td>
                <td>
                    <a href="{{attachement}}/formation/{{employeeId}}/{{formation.attachement}}"
                       target="_blank"><span
                            class="glyphicon glyphicon-file" aria-hidden="true"
                            ng-if="formation.attachement"></span> {{formation.attachement}}</a></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-value="formation.EAScope" disabled>
                </td>
                <td>{{formation.fromDate | date : "dd.MM.yyyy"}}</td>
                <td>{{formation.toDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="formation in formations" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(formations, $index)"><span class="glyphicon glyphicon-minus"
                                                                                    aria-hidden="true"></span></a>
                </td>
                <td><input type="text"
                           class="form-control"
                           ng-model="formation.formativeOrganization">
                </td>
                <td><select class="form-control"
                            ng-options="formationType.pk_formationType as formationType.formation for formationType in formationTypes"
                            ng-model="formation.fk_formationType"></select>
                </td>
                <td><input type="file" class="form-control" placeholder="CV"
                           file-model="formationsAttachements[{{$index}}]"></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="formation.EAScope">
                </td>
                <td>
                    <date-picker-simple-input dt="formation.fromDate"></date-picker-simple-input>
                </td>
                <td>
                    <date-picker-simple-input dt="formation.toDate"></date-picker-simple-input>
                </td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addFormationRow()"><span class="glyphicon glyphicon-plus"
                                                          aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <div class="row placeholders" ng-hide="active!=1">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateFormations()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="2" heading="{{tabs[2].name}}" disable="tabs[2].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>Fonction</th>
                <th>Pièce jointe</th>
                <th>EA Scope</th>
                <th>De</th>
                <th>À</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="professionnalExperience in professionnalExperiences" ng-if="!modified">
                <td>{{professionnalExperience.organizationName}}</td>
                <td>{{professionnalExperience.organizationActivity}}</td>
                <td>{{professionnalExperience.fonction}}</td>
                <td>
                    <a href="{{attachement}}/professionnalexperience/{{employeeId}}/{{professionnalExperience.attachement}}"
                       target="_blank" ng-if="professionnalExperience.attachement"><span
                            class="glyphicon glyphicon-file" aria-hidden="true"
                            ng-if="professionnalExperience.attachement != null"></span>
                        {{professionnalExperience.attachement}}</a></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-value="professionnalExperience.EAScope" disabled>
                </td>
                <td>{{professionnalExperience.fromDate | date : "dd.MM.yyyy"}}</td>
                <td>{{professionnalExperience.toDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="professionnalExperience in professionnalExperiences" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(professionnalExperiences, $index)"><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="professionnalExperience.organizationName"></td>
                <td><input type="text" class="form-control" ng-model="professionnalExperience.organizationActivity">
                </td>
                <td><input type="text" class="form-control" ng-model="professionnalExperience.fonction"></td>
                <td><input type="file" class="form-control" placeholder="CV"
                           file-model="professionnalExperiencesAttachements[{{$index}}]"></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="professionnalExperience.EAScope">
                </td>
                <td>
                    <date-picker-simple-input dt="professionnalExperience.fromDate"></date-picker-simple-input>
                </td>
                <td>
                    <date-picker-simple-input dt="professionnalExperience.toDate"></date-picker-simple-input>
                </td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addProfExpRow()"><span class="glyphicon glyphicon-plus"
                                                        aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=2">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateProfExp()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="3" heading="{{tabs[3].name}}" disable="tabs[3].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>NMS Standard</th>
                <th>EA Scope</th>
                <th>Thèmes et durée</th>
                <th>Année</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="consultingExperience in consultingExperiences" ng-if="!modified">
                <td>{{consultingExperience.organizationName}}</td>
                <td>{{consultingExperience.organizationActivity}}</td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="consultingExperience.fk_NMSStandard" disabled></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-value="consultingExperience.EAScope" disabled>
                </td>
                <td>{{consultingExperience.organization}}</td>
                <td>{{consultingExperience.year}}</td>
            </tr>
            <tr ng-repeat="consultingExperience in consultingExperiences" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(consultingExperiences, $index)"><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="consultingExperience.organizationName"></td>
                <td><input type="text" class="form-control" ng-model="consultingExperience.organizationActivity"></td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="consultingExperience.fk_NMSStandard"></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="consultingExperience.EAScope">
                </td>
                <td><input type="text" class="form-control" ng-model="consultingExperience.organization"></td>
                <td><input type="text" class="form-control" ng-model="consultingExperience.year"></td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addConExpRow()"><span class="glyphicon glyphicon-plus"
                                                       aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=3">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateConExp()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="4" heading="{{tabs[4].name}}" disable="tabs[4].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Nom de l'organisation</th>
                <th>Activité de l'organisation</th>
                <th>NMS Standard</th>
                <th>EA Scope</th>
                <th>OC</th>
                <th>Année</th>
                <th>Honoraires (CHF)</th>
                <th>Fiches mandat</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="auditExperience in auditExperiences" ng-if="!modified">
                <td>{{auditExperience.organizationName}}</td>
                <td>{{auditExperience.organizationActivity}}</td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="auditExperience.fk_NMSStandard" disabled></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-value="auditExperience.EAScope" disabled>
                </td>
                <td>{{auditExperience.oc}}</td>
                <td>{{auditExperience.year}}</td>
                <td>{{auditExperience.fees}}</td>
                <td><a href="{{attachement}}/mandatesheet/{{employeeId}}/{{auditExperience.mandatesheet}}"
                       target="_blank" ng-if="auditExperience.mandatesheet"><span class="glyphicon glyphicon-file"
                                                                              aria-hidden="true"
                                                                              ng-if="auditExperience.mandatesheet"></span>
                    {{auditExperience.mandatesheet}}</a></td>
            </tr>
            <tr ng-repeat="auditExperience in auditExperiences" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(auditExperiences, $index)"><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="auditExperience.organizationName"></td>
                <td><input type="text" class="form-control" ng-model="auditExperience.organizationActivity"></td>
                <td><select class="form-control"
                            ng-options="NMSStandard.pk_NMSStandard as NMSStandard.name for NMSStandard in NMSStandards"
                            ng-model="auditExperience.fk_NMSStandard"></select>
                </td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="auditExperience.EAScope">
                </td>
                <td><input type="text" class="form-control" ng-model="auditExperience.oc"></td>
                <td><input type="text" class="form-control" ng-model="auditExperience.year"></td>
                <td><input type="text" class="form-control" ng-model="auditExperience.fees"></td>
                <td><input type="file" class="form-control" file-model="mandateSheetsAttachements[{{$index}}]"></td>

            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addAuditExpRow()"><span class="glyphicon glyphicon-plus"
                                                         aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=4">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()"
                       ng-if="!modified">
                <button class="btn btn-success" ng-click="updateAuditExp()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="5" heading="{{tabs[5].name}}" disable="tabs[5].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Le candidat auditeur dispose-t-il des capacités et des  connaissances spécifiques concernant :
                </th>
                <th>OUI</th>
                <th>Remarques</th>
                <th>Pièces jointes</th>
                <th>Date de la validation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in iqCapacitiesNum" ng-if="!modified">
                <td>{{internalQualifications[i].process}}</td>
                <td><input type="checkbox" ng-checked="internalQualifications[i].yesno"  ng-if="internalQualifications[i].pk_internalQualifications!='2'" disabled></td>
                <td>{{internalQualifications[i].result}}</td>
                <td>
                    <a href="{{attachement}}/internalqualification/{{employeeId}}/{{internalQualifications[i].attachement}}"
                       target="_blank" ng-if="internalQualifications[i].attachement"><span class="glyphicon glyphicon-file"
                                                                                                aria-hidden="true"
                                                                                                ng-if="internalQualifications[i].attachement"></span>
                        {{internalQualifications[i].attachement}}</a></td>
                <td>{{internalQualifications[i].validationDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="i in iqCapacitiesNum" ng-if="modified">
                <td>{{internalQualifications[i].process}}</td>
                <td><input type="checkbox" ng-model="internalQualifications[i].yesno" ng-if="internalQualifications[i].pk_internalQualifications!='2'"></td>
                <td><input type="text" class="form-control" ng-model="internalQualifications[i].result"></td>
                <td><input type="file" class="form-control" file-model="internalQualificationsAttachements[{{i}}]">
                </td>
                <td>
                    <date-picker-simple-input dt="internalQualifications[i].validationDate"></date-picker-simple-input>
                </td>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Marche à suivre selon procédure de qualification en cours</th>
                <th>OUI</th>
                <th>Remarques</th>
                <th>Pièces jointes</th>
                <th>Date de la validation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="i in iqStepsNum" ng-if="!modified">
                <td>{{internalQualifications[i].process}}</td>
                <td><input type="checkbox" ng-checked="internalQualifications[i].yesno"  ng-if="internalQualifications[i].pk_internalQualifications!='2'" disabled></td>
                <td>{{internalQualifications[i].result}}</td>
                <td>
                    <a href="{{attachement}}/internalqualification/{{employeeId}}/{{internalQualifications[i].attachement}}"
                       target="_blank" ng-if="internalQualifications[i].attachement"><span class="glyphicon glyphicon-file"
                                                                                       aria-hidden="true"
                                                                                       ng-if="internalQualifications[i].attachement"></span>
                        {{internalQualifications[i].attachement}}</a></td>
                <td>{{internalQualifications[i].validationDate | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="i in iqStepsNum" ng-if="modified">
                <td>{{internalQualifications[i].process}}</td>
                <td><input type="checkbox" ng-model="internalQualifications[i].yesno" ng-if="internalQualifications[i].pk_internalQualifications!='2'"></td>
                <td><input type="text" class="form-control" ng-model="internalQualifications[i].result"></td>
                <td><input type="file" class="form-control" file-model="internalQualificationsAttachements[{{i}}]">
                </td>
                <td>
                    <date-picker-simple-input dt="internalQualifications[i].validationDate"></date-picker-simple-input>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=5 || connectedUser.isAdmin=='0'">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
                <button class="btn btn-success" ng-click="updateEmployeeIntQual()" ng-if="modified">Sauvegarder</button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
    <uib-tab index="6" heading="{{tabs[6].name}}" disable="tabs[6].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Organisation-institution</th>
                <th>Observateur-évaluateur</th>
                <th>Pièces jointes</th>
                <th>EA Scope(s)</th>
                <th>Commentaire</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="auditObservation in auditObservations" ng-if="!modified">
                <td>{{auditObservation.organization}}</td>
                <td>{{auditObservation.observer}}</td>
                <td>
                    <a href="{{attachement}}/auditobservation/{{employeeId}}/{{auditObservation.attachement}}"
                       target="_blank" ng-if="auditObservation.attachement"><span class="glyphicon glyphicon-file"
                                                                                  aria-hidden="true"
                                                                                  ng-if="auditObservation.attachement"></span>
                        {{auditObservation.attachement}}</a></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-value="auditObservation.EAScope" disabled>
                </td>
                <td><textarea class="form-control" disabled>{{auditObservation.comment}}</textarea></td>
                <td>{{auditObservation.date | date : "dd.MM.yyyy"}}</td>
            </tr>
            <tr ng-repeat="auditObservation in auditObservations" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(auditObservations, $index)"><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="auditObservation.organization"></td>
                <td><input type="text" class="form-control" ng-model="auditObservation.observer"></td>
                <td><input type="file" class="form-control" file-model="auditObservationsAttachements[{{$index}}]"></td>
                <td>
                    <input type="number" min="1" max="39" class="form-control"
                           ng-model="auditObservation.EAScope">
                </td>
                <td><textarea class="form-control" ng-model="auditObservation.comment"></textarea></td>
                <td>
                    <date-picker-simple-input dt="auditObservation.date"></date-picker-simple-input>
                </td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addAuditObsRow()"><span class="glyphicon glyphicon-plus"
                                                         aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=6">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
                <button class="btn btn-success" ng-click="updateEmployeeAuditObservations()" ng-if="modified">
                    Sauvegarder
                </button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>

    </uib-tab>
    <uib-tab index="7" heading="{{tabs[7].name}}" disable="tabs[7].disabled">
        <table class="table table-striped">
            <thead>
            <tr>
                <th ng-if="modified"></th>
                <th>Objectifs à moyen et long terme</th>
                <th>Stratégie mise en place par l’auditeur</th>
                <th>Date</th>
                <th>Validation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="objective in objectives" ng-if="!modified">
                <td>{{objective.mediumLongTermObjectives}}</td>
                <td>{{objective.auditorStrategy}}</td>
                <td>{{objective.date | date : "dd.MM.yyyy"}}</td>
                <td><input type="checkbox" ng-checked="objective.validate" disabled></td>
            </tr>
            <tr ng-repeat="objective in objectives" ng-if="modified">
                <td>
                    <a class="a-remove" ng-click="delRow(objectives, $index)"><span class="glyphicon glyphicon-minus"
                                                                                    aria-hidden="true"></span></a>
                </td>
                <td><input type="text" class="form-control" ng-model="objective.mediumLongTermObjectives"></td>
                <td><input type="text" class="form-control" ng-model="objective.auditorStrategy"></td>
                <td>
                    <date-picker-simple-input dt="objective.date"></date-picker-simple-input>
                </td>
                <td><input type="checkbox" ng-model="objective.validate"></td>
            </tr>
            <tr ng-if="modified">
                <td><a ng-click="addObjectiveRow()"><span class="glyphicon glyphicon-plus"
                                                          aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="row placeholders" ng-hide="active!=7">
            <div class="col-xs-12 col-sm-12 placeholder">
                <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
                <button class="btn btn-success" ng-click="updateEmployeeObjectives()" ng-if="modified">Sauvegarder
                </button>
                <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
            </div>
        </div>
    </uib-tab>
</uib-tabset>

<div class="file-upload" ng-hide="active!=0">
    <div class="input-group input-employee">
        <span class="input-group-addon">CV</span>
        <a href="{{attachement}}/cv/{{employeeId}}/{{employee.cv}}"
           target="_blank" ng-if="!modified"> <span
                class="glyphicon glyphicon-file"
                aria-hidden="true" ng-if="employee.cv"></span>
            {{employee.cv}}</a>
        <input type="file" class="form-control" placeholder="CV" file-model="$parent.cv" ng-if="modified">
    </div>
    <div class="input-group input-employee">
        <span class="input-group-addon">Casier judiciaire</span>
        <a href="{{attachement}}/criminalrecord/{{employeeId}}/{{employee.criminalRecord}}"
           target="_blank"
           ng-if="!modified"> <span
                class="glyphicon glyphicon-file"
                aria-hidden="true" ng-if="employee.criminalRecord"></span>
            {{employee.criminalRecord}}</a>
        <input type="file" class="form-control" placeholder="Casier judiciaire"
               file-model="$parent.criminalRecord" ng-if="modified">
    </div>
    <div class="input-group input-employee" ng-if="modified">
        <span class="input-group-addon">Photo</span>
        <input type="file" class="form-control" placeholder="Photo"
               file-model="$parent.picture" accept="image/*">
    </div>
</div>
<br>
<div class="row placeholders" ng-hide="active!=0">
    <div class="col-xs-12 col-sm-12 placeholder">
        <input type="button" value="Modifier" class="btn btn-default" ng-click="modif()" ng-if="!modified">
        <button class="btn btn-success" ng-click="updateEmployeeAdmin()" ng-if="modified">Sauvegarder</button>
        <button class="btn btn-danger" ng-click="cancel()" ng-if="modified">Annuler</button>
    </div>
</div>
<div ng-repeat="a in getNumber(iqStepsNum) track by $index">{{$index}}</div>
