<h1 class="page-header">Changer le mot de passe</h1>
<div class="login-form">
    <form class="form-signin" name="form" role="form">
        <div class="input-group input-employee">
            <span class="input-group-addon">Ancien</span>
            <input type="password" class="form-control" placeholder="Ancien mot de passe" ng-model="password.old"
                   required
                   ng-required="true" autofocus>
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Nouveau</span>
            <input type="password" class="form-control" placeholder="Nouveau mot de passe" ng-model="password.new1"
                   required
                   ng-required="true" autofocus>
        </div>
        <div class="input-group input-employee">
            <span class="input-group-addon">Confirmer nouveau</span>
            <input type="password" class="form-control" placeholder="Confirmer nouveau mot de passe"
                   ng-model="password.new2" required
                   ng-required="true" autofocus>
        </div>
        <div class="row placeholders input-employee">
            <div class="col-xs-12 col-sm-12 placeholder">
                <button class="btn btn-success btn-lg" ng-click="udpatePassword()" ng-disabled="form.$invalid">Mettre à jour</button>
            </div>
        </div>
    </form>
</div>